.section4 {
  padding: 60px;
  background-color: white;
}

.section4 .col-left,
.section4 .col-right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.section4 .text-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section4 .dash {
  font-size: 1.2em;
  color: black;
  line-height: 1;
}

.section4 .text-block p {
  font-size: 35.1px;
  font-weight: 500;
  line-height: 1.6;
  margin: 0;
  color: black;
}

@media (max-width: 768px) {
  .section4 {
    padding: 30px 20px;
  }

  .section4 .text-block p {
    font-size: 24px;
  }
}
