.section7 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 60px;
  background-color: white;
  min-height: 100vh;
}

.section7 .col-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section7 .title {
  margin: 0;
  padding: 0;
  font-weight: 300;
  color: black;
  line-height: 1.2;
}

.section7 .title .line1 {
  display: block;
  font-size: 48px;
}

.section7 .title .line2 {
  display: block;
  font-size: 48px;
}

.section7 .separator {
  width: 1px;
  height: 200px;
  background-color: black;
  flex-shrink: 0;
}

.section7 .col-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section7 .steps-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section7 .steps-list li {
  font-size: 48px;
  font-weight: 300;
  color: black;
  line-height: 1.2;
}
