.section5 {
  position: relative;
  padding: 60px;
  background-color: white;
}

.section5 .col-left,
.section5 .col-right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
}

.section5 .content-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section5 .main-title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: black;
  line-height: 1.2;
}

.section5 .main-title .line1 {
  display: block;
  font-size: 96px;
}

.section5 .main-title .line2 {
  display: block;
  font-size: 96px;
}

.section5 .subtitle-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section5 .subtitle {
  font-size: 54px;
  font-weight: 400;
  color: #999;
  line-height: 1;
}

.section5 .subtitle-line {
  width: 100%;
  height: 1px;
  background-color: #999;
}

.section5 .description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section5 .description p {
  font-size: 36px;
  font-weight: 400;
  color: black;
  margin: 0;
  line-height: 1.4;
}
