.section8 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 60px;
  background-color: white;
  gap: 40px;
}

.col-left,
.col-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.category-title {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 15px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  color: black;
}

.category ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category li {
  font-size: 24px;
  line-height: 1.8;
  color: black;
  margin-bottom: 8px;
  margin-left: 50px;
  padding-left: 0;
}

